@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html {
    font-size: 16px;
    scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", sans-serif;
}

/*
charcol : #222831 
grayish : #393e46
orange  : #f96d00
dWhite  : #f2f2f2
*/

.page-grid {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 900px) 1fr;   
    justify-items: center;
}

.col-1 {
    grid-column: 1;
}
.col-2 {
    grid-column: 2;
}
.col-3 {
    grid-column: 3;
}

.page-header {
    width: 100%;
    max-width: inherit;
    margin-bottom: 2rem;

    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
}

.page-header nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.page-header a {
    font-size: 1.4rem;
    text-decoration: none;
    color: #393e46;
}

.page-header a:hover {
    transform: scale(1.2);
    transition: ease-in 0.2s;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.intro img {
    width: 30%;
    height: 30%;
    object-fit: cover;
    border-radius: 80%;
}

.intro-text {
    width: 50%;
}

.intro-big {
    font-size: 1.5rem;
}

.intro-small {
    font-size: 1.2rem;
}

.projects {
    margin-top: 1.5rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1em;
}

@media (max-width:700px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }

    .card-container {
        max-width: 50%;
    }
}

.card-container {
    padding: 1rem;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    box-shadow: 5px 5px 5px 5px rgb(120, 184, 213);

}

.card-container:hover {
    box-shadow: 5px 5px 5px 5px rgb(191, 59, 59);
    transform: translateY(-5px);
    transition: ease-in-out .2s;
}

/* .card-container:hover{
    box-shadow: 5px 5px 5px 5px rgb(143, 143, 143);
    transform: translateY(-5px);
    transition: ease-in .2s;
} */

/* 91 209 215 */


.card-header {
    aspect-ratio: 16/9;
}

.card-header p {
    padding: 0;
    font-size: 1.2rem;
}

.card-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-intro {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.card-intro li {
    list-style-type: none;
    display: inline;
    padding-left: .8rem;
    padding-right: .8rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    background-color: #94a7ab;
    border-radius: 30px;
}

.card-intro h3 {
    font-size: 1.2rem;
}

.about-container {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(79, 118, 135);
}

.about-container p {
    margin: 0;
    padding: 1rem;
    line-height: 1.5rem;
}

footer {
    margin-top: 2rem;
    width: 100%;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.contact-container a{
    font-size: 1.4rem;
    padding: .6rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
}

.contact-container a:hover {
    box-shadow: 5px 5px 5px 5px rgb(95, 157, 169);
    transform: translateY(-5px);
    transition: ease-in .2s;
}